.imgIzquierda2{
  padding: 5%;

}

.parrafo{
  color: white;
  padding: 5%;
  text-align: justify;

}

.fondo{
  background-color: black;

}

.imgDerecha{
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 4%;
  cursor: pointer;
}
