<body class="fondoColor">

<div class="container">
  <div>
    <img
      src="../../assets/IMG/71908747-icône-de-couronne-de-laurier-argent-prix-du-symbole-trophée-victoire-gagnant-prix-branche-d-olivier-el.jpg" class="rounded mx-auto d-block logo" height="200" width="200"/>
  </div>

  <div>
    <img src="../../assets/IMG/reggaeton.jpg" routerLink="presentacion" class="rounded float-left imgIzquierda" height="477" width="400"/>

    <img src="../../assets/IMG/depositphotos_104672000-stock-illustration-techno-party-poster-design.jpg"
         class="rounded float-right imgDerecha" routerLink="presentacion" height="477" width="400"/>

  </div>

  <div>
    <img src="../../assets/IMG/descarga.jpg" class="rounded float-left imgIzquierda" routerLink="presentacion" height="477" width="400"/>


    <img src="../../assets/IMG/depositphotos_75717899-stock-illustration-karaoke-party-poster.jpg"
         class="rounded float-right imgDerecha" routerLink="presentacion" height="477" width="400"/>
  </div>


</div>



</body>

